server:
  port: 8083

spring:
  application:
    name: document-service
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://documentservice:documentservice123@localhost:27019/documentdb?authSource=admin}
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8180/realms/microservices}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://localhost:8180/realms/microservices/protocol/openid-connect/certs}
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.microservices.documentservice: DEBUG
    org.springframework.security: DEBUG
